@model ArtGalleryOnline.Models.Blog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    /* ... Các phần CSS khác ... */

    /* CSS cho các thẻ dt và dd */
    .info-section dl dt {
        font-weight: bold;
        font-size: 18px; /* Cỡ chữ của nhãn */
        color: #000; /* Màu chữ của nhãn */
    }

    .info-section dl dd {
        margin-bottom: 10px;
        font-size: 16px; /* Cỡ chữ của dữ liệu */
        color: #fff; /* Màu chữ của dữ liệu */
    }

    /* ... Các phần CSS khác ... */
</style>
<div class="card mb-4">
    <div class="card-body">
        <h1 class="card-title ">Details</h1>

        <div>
            <h4 class="card-title ">Blogs Details</h4>
            <hr />
            <dl class="row justify-content-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorArtWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorArtWork.Artist)
        </dd>
    </dl>
</div>
<div>
            <a asp-action="Edit" asp-route-id="@Model?.BlogId" class="btn btn-primary">Edit</a> |
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
</div>
</div>