@model IEnumerable<ArtGalleryOnline.Models.Orders>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        background-image: url(/ManagerUser/images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<div class="container-fluid px-4">
    
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Primary Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>

@{
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/ManagerUser/css/style.css">
}

<style>
    body {
        background-image: url(/ManagerUser/images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wcskh-info .avatar {
        width: 190px;
        height: 190px;
        overflow: hidden;
        border-radius: 20px;
        padding: 5px;
        background-color: #fff;
        border: solid 1px #ddd;
        grid-area: avatar;
    }

    .wcskh-info .name {
        height: 60px;
        line-height: 60px;
        grid-area: name;
    }

        .wcskh-info .name h3 {
            font-size: 1.8em;
            color: #fff;
            line-height: inherit;
            float: left;
        }

    .wcskh-info .avatar img {
        width: 100%;
        height: auto;
        border-radius: inherit;
    }

    .wcskh-content {
        margin-top: 35px;
        display: grid;
        min-height: 500px;
        grid-template-columns: 1fr 2fr; /* Chia thành hai cột với tỷ lệ 1:2 */
        grid-gap: 20px; /* Khoảng cách giữa hai cột */
        padding: 20px;
    }


    .tabs-cskh {
        box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

        .tabs-cskh ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .tabs-cskh li {
            margin-bottom: 10px;
        }

        .tabs-cskh a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 5px;
        }

            .tabs-cskh a:hover {
                background-color: #444;
            }

    .info-section {
        padding: 20px;
    }

        .info-section h1 {
            margin-top: 0;
            color: #ff0000; /* Màu đỏ (#ff0000) */
            font-size: 24px; /* Cỡ chữ 24px */
            font-weight: normal; /* Kiểu chữ bình thường */
            text-align: center; /* Căn giữa văn bản */
            font-family: Arial, sans-serif; /* Kiểu chữ Arial hoặc các kiểu chữ không có chân chống (sans-serif) */
        }

        .info-section dl dt {
            font-weight: bold;
        }

        .info-section dl dd {
            margin-bottom: 10px;
        }

    .btn-group {
        margin-top: 20px;
    }

    * {
        outline: none;
    }

    div {
        display: block;
    }

    .tabs-cskh li:hover {
        background-color: #555;
    }

    .tabs-cskh a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 5px;
    }

    .tabs-cskh .active {
        background-color: orange; /* Màu cam khi mục được click */
    }

    .tabs-cskh a:hover {
        background-color: #444;
    }

    /* Ẩn danh sách con mặc định */
    ul.menu .dropdown {
        display: none;
    }

    /* Hiển thị danh sách con khi hover vào mục cha "Author" */
    ul.menu li:hover .dropdown {
        display: block;
        /* Các thuộc tính CSS khác bạn muốn áp dụng khi hiển thị danh sách con */
    }
    /* Targeting the labels in the form and setting text color to black */
    .signin-form label.control-label {
        color: black;
    }

    /* Targeting the text inputs in the form and setting text color to black */
    .signin-form input.form-control {
        color: black;
    }

    /* Targeting the text in the validation spans and setting text color to black */
    .signin-form span.text-danger {
        color: black;
    }

    /* Targeting the text in the select option and setting text color to black */
    .signin-form select.form-control {
        color: black;
    }

</style>
   
        <div class="container-fluid px-4">
           
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Primary Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Warning Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Success Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Danger Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Warning Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Success Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Area Chart Example
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Bar Chart Example
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RecipientName)
                        </th>                      
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>                      
                        <th>
                            @Html.DisplayNameFor(model => model.RecipientEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalAmount)
                        </th>


                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RecipientName)
                            </td>                           
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>                          
                            <td>
                                @Html.DisplayFor(modelItem => item.RecipientEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAmount)
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/ManagerUser/js/jquery.min.js"></script>
<script src="/ManagerUser/js/popper.js"></script>
<script src="/ManagerUser/js/bootstrap.min.js"></script>
<script src="/ManagerUser/js/main.js"></script>

