@model IEnumerable<ArtGalleryOnline.Models.ArtWork>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorArtWork)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtDescription)
            </td>
            <td>
                    <img src="~/@item.ArtImage" alt="ArtImage" style="width:100px" ; height:"auto" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorArtWork.Artist)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
