@model IEnumerable<ArtGalleryOnline.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="card mb-4">
    <div class="card-header">
        <h1 class="card-title text-center">Index</h1>
        <div class="text-right">
            <p>
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </p>
        </div>
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>