@model ArtGalleryOnline.Models.OrderDetail

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    /* ... Các phần CSS khác ... */

    /* CSS cho các thẻ dt và dd */
    .info-section dl dt {
        font-weight: bold;
        font-size: 18px; /* Cỡ chữ của nhãn */
        color: #000; /* Màu chữ của nhãn */
    }

    .info-section dl dd {
        margin-bottom: 10px;
        font-size: 16px; /* Cỡ chữ của dữ liệu */
        color: #fff; /* Màu chữ của dữ liệu */
    }

    /* ... Các phần CSS khác ... */
</style>
<div class=" info-section">
    <h1>Delete </h1>
    <h3>Are you sure you want to delete this?</h3>

    <dl class="row justify-content-center" ">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orders.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>             
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtWork.ArtDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderDetailId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
