@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@model ArtGalleryOnline.Models.Orders

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post))
                {
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="form-group">
                        <label>Ho ten khach hang</label>
                       
                        @Html.TextBoxFor(m => m.RecipientName, new { @class = "form-control", @placeholder = "Username" })
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                       
                        @Html.TextBoxFor(m => m.RecipientEmail, new { @class = "form-control", @placeholder = "RecipientEmail" })
                    </div>
                    <div class="form-group">
                        <label>SDT</label>
                       
                        @Html.TextBoxFor(m => m.RecipientPhone, new { @class = "form-control", @placeholder = "RecipientPhone" })
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                      
                        @Html.TextBoxFor(m => m.ShippingAddress, new { @class = "form-control", @placeholder = "ShippingAddress" })
                    </div>
                    <div class="form-group">
                        <label>Hinh thuc thanh toan</label>
                        <select class="form-control" name="TypePayment">
                            <option value="1" selected>COD</option>
                            <option value="2">Chuyen khoan</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-success">Dat hang</button>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                </div>
                @(await Component.InvokeAsync("Item_ThanhToan"))
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Payment</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                            <label class="custom-control-label" for="directcheck">Direct Check</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
