@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    body {
        background-color: black;
        color: white;
    }
    .custom-paypal-button {
        width: 260px;
        height: 50px;
        border-radius: 1rem;
        background-color: #ffc40c;
    }

        .custom-paypal-button img {
            max-width: 50%;
            max-height: 200%;
            margin-bottom:1px;
        }
</style>
@model ArtGalleryOnline.Models.Orders

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5" style="background-image: url(/img/bg-img/38.jpg);">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Checkout Start -->
@using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post ))
                {
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
               
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                   
                    <div class="form-group">
                        <label>Ho ten khach hang</label>

                        @Html.TextBoxFor(m => m.RecipientName, new { @class = "form-control", @placeholder = "Username",required = "required"  } )
                    </div>
                    <div class="form-group">
                        <label>Email</label>

                        @Html.TextBoxFor(m => m.RecipientEmail, new { @class = "form-control", @placeholder = "RecipientEmail",required = "required" })
                    </div>
                    <div class="form-group">
                        <label>SDT</label>

                        @Html.TextBoxFor(m => m.RecipientPhone, new { @class = "form-control", @placeholder = "RecipientPhone",required = "required" })
                    </div>
                    <div class="form-group">
                        <label>Address</label>

                        @Html.TextBoxFor(m => m.ShippingAddress, new { @class = "form-control", @placeholder = "ShippingAddress",required = "required" })
                    </div>
                    <div class="form-group">
                        <label>Hinh thuc thanh toan</label>
                        <select class="form-control" name="TypePayment">
                            <option value="1" selected>COD</option>                           
                        </select>
                    </div>

                  
              

                    

            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                </div>
                @(await Component.InvokeAsync("Item_ThanhToan"))
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Payment</h4>
                </div>
                <div class="card-body">
                        <div class="card-footer border-secondary bg-transparent">
                            <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3"><a href="~/Cart/PaymentWithPayPal?">CheckOut Paypal</a></button>
                        </div>
                </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                        <br />
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <a href="@Url.Action("PaymentWithPaypal", "Cart")" class="btn btn-lg btn-warning btn-block custom-paypal-button">
                            <img src="/img/core-img/PayPal_horizontally_Logo_2014.png" alt="PayPal Checkout" />
                        </a>
                    </div>

            </div>
        </div>
              
    </div>
</div>


<!-- Checkout End -->
}


