@model ArtGalleryOnline.Models.Users

<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Age</th>
            <th>PhoneNumber</th>
            <th>Address</th>
            <!-- Add other fields you want to display -->
        </tr>
        <tr>
            <td>@Model.UserFullName</td>
            <td>@Model.UserFullName</td>
            <td>@Model.UserEmail</td>
            <td>@Model.UserGender</td>
            <td>@Model.UserAge</td>
            <td>@Model.UserPhoneNum</td>
            <td>@Model.UserAddress</td>
            <!-- Add other fields you want to display -->
        </tr>
    </table>
</body>
</html>
